dccpi/dccpi

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.vscode/*
frontend/node_modules/*
software/frontend/node_modules/*
/.idea/deployment.xml
/.idea/go-dcc.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sshConfigs.xml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/watcherTasks.xml

/vendor
/software/dccpi/storage/*.log
/software/dccpi/vendor
/software/dccpi/*.log
/software/dccpi/*.bin
/software/dccpi/tmp
software/dccpi/cmd/main
hardware/kicad/railway_module_v1.0/railway-backups
/software/railway_module/firmware/firmware/.idea/
