p
  font-size: 18px
  font-family: "Roboto", sans-serif
  color: blue

.container
  background: #FFF


footer
  font-size: 8pt

.creds
  padding-left: 29%

p
  font-size: 18px
  font-family: "Roboto", sans-serif
  color: blue


.f-checkbox
  height: 20px
  display: flex
  justify-content: center

div.v-slider-thumb__label
  transform: translateY(-50%) translateY(15px) translateX(-350%) rotate(-180deg) !important


div.v-slider-thumb__label > div
  transform: rotate(180deg) !important


div.v-slider-thumb__label div
  font-size: 1.5em

.v-toolbar__extension
  .mdi-alert-octagon
    color: #ff3434
  .mdi-arrow-right-bold, .mdi-arrow-left-bold
    color: greenyellow

.v-selection-control
  .v-label
    width: 100%